@charset 'utf-8';
@import 'reset.css';

/* header 영역 */

#header{
  width: 100%; border-bottom: 1px solid #ddd;
}
#header .inner{
  width: 1180px; height: 120px; margin: 0 auto; position: relative;
}
#header .inner>h1{
  position: absolute; left: 0px; bottom: 15px;
}
#header .inner>h1>a{
  font: bold 24px/1 'arial'; color:#444;
}
#header .inner #gnb{
  position: absolute; right: 0px; bottom: 0px;
}
#header .inner #gnb li{
  float: left;
}
#header .inner #gnb li a{
  display: block; padding: 14px 40px;
  font: bold 14px/1 'arial'; color: #777;
}
#header .inner #gnb li a:hover{
  background-color: #555; color: #fff;
}
#header .inner .util{
  position: absolute; top: 20px; right: 40px;
}
#header .inner .util li{
  float: left; margin-left: 20px;
}
#header .inner .util li a{
  font: 12px/1 'arial'; color: #999;
}

/* visual 영역 */
#visual{
  width: 100%; height: calc(100vh - 121px);
  overflow: hidden;
  background: #000;
}
#visual video{
  width: 100%; height: 100%; object-fit: cover;
  opacity: 0.4;
}
#visual .inner{
  width: 1180px; margin: 0 auto;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#visual .inner h1{
  font: normal 120px/1 'arial'; color: #fff;
  margin-bottom: 20px;
}
#visual .inner p{
  font: 16px/1.4 'arial'; color:#888; margin-bottom: 80px;
}
#visual .inner a{
  display: block; width: 400px; height: 30px;
  border: 1px solid #bbb;
  font: bold 11px/30px 'arial'; color: #fff;
  text-align: center;
}
#visual .inner a:hover{
  background: #fff; color: #555;
}